h1 {
  font-family: 'Pangolin', cursive;
  color: #b809e8;
}

html {
  cursor: url(cursor1.png), auto;
}

a:hover {
  cursor: url(cursor1.png), auto;
}

body{
  background-image: url(phase_1.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page2{
  background-image: url(phase_2_blue.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page3{
  background-image: url(phase_2_pink.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page5{
  background-image: url(phase_3_green.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page4{
  background-image: url(phase_3_blue.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page6{
  background-image: url(phase_3_pink.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page7{
  background-image: url(phase_3_yellow.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page8{
  background-image: url(phase_4_bg.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page9{
  background-image: url(phase_4_py.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page10{
  background-image: url(phase_4_gp.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page11{
  background-image: url(phase_5_blue.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page12{
  background-image: url(phase_5_pink.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

body.page13{
  background-image: url(final_phase.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

#pleaseworkplease {
  background-color: black;
}

#title {
  background-color: #370645;
  width: 50vw;
  position: absolute;
  top:30px;
  left:370px;
}

@@keyframes bounce {
  0% {
    top: 0px;
  }
  100% {
    top: 500px
  }
}

#portal_1 {
  position: absolute;
  top: 110;
  left: 975;
  transition-property: all;
  transition-duration: 1s;
}

#portal_1:hover {
  opacity: 0.5;
}

#portal_2 {
  position: absolute;
  top: 110;
  left: 50;
  transition-property: all;
  transition-duration: 1s;
}

#portal_2:hover {
  opacity: 0.5;
}

#clock {
  width: 1vw;
  opacity: .6;
  position: absolute;
  bottom: 10;
  right: 770;
  transition-property: all;
  transition-duration: 1s;
}

#clock:hover {
  opacity: 1;
}

#SPT {
  position: fixed;
  right: 1;
  bottom: 5;
  min-width:100%;
  min-height:100%;
  margin-bottom: 10vh;
  margin-right: 10vw;
}

#content {
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%);
transform: translateY(-50%);
background: rgba(0,0,0,0.5);
color: white;
width: 100;
}



#restart {
font-size: 50px;
text-decoration: line-through;
background-color: #b809e8;
width: 50vw;
position: absolute;
top:30px;
left:370px;
}
